/*fontlar*/
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: white;
  }

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1rem;
  color: rgb(40, 38, 38);
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.3rem;
}
/*linkler*/
.blog-a {
  text-decoration: none;
  
}
/*buton*/
.blog-buton {
  width: 300px;
  background-color: rgb(135, 131, 131);
  border-radius: 32px;
  padding: 0.5rem 4rem;
  border: none;
}

/*blog metni*/
.blog-post {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid rgb(71, 67, 67);
}
.img-w {
  width: 100%;
  margin: 0 auto;
}
/*blog paragraf*/
.blog-p {
  text-align: justify;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.flex-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.flex-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-w {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/*maddeler*/
.section2, .section3, .section4, .section5, .section6{
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
   
}
@media all and (max-width:576px){
    .blog-post{
        margin:  0.5rem 0.5rem;
    }
    .flex-img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .flex-sec {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }  
      .section2, .section3, .section4, .section5, .section6{
        border-bottom: 1px solid rgb(71, 67, 67);
        
       
    }


}
